<!DOCTYPE html>
<html class="{{dir}}" dir="{{dir}}" lang="ar">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Exchange</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="preload" href="{{assets}}/images/logo.png" as="image">
    <link rel="shortcut icon" href="{{assets}}/images/favicon.ico">

    <link rel="stylesheet" href="{{assets}}/styles/{{style}}.css">
    <link rel="stylesheet" href="{{assets}}/styles/{{style}}-rtl.css">

    {{> style-header}}
    {{!--
    <script>window.addEventListener('beforeunload', function (event) { window.scrollTo(0, 0); });</script>

    <script type="text/javascript" src="{{assets}}/scripts/vendor/home/webpjs-0.0.2.min.js"></script> --}}
</head>

<body class="{{ bodyClass }} {{ pageClass }}">
    {{> body}}
</body>

</html>